<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>First Meet</title>
    <div id="app"></div>
    <script src={Routes.static_path(@conn, "/js/main.js")}></script>
  </head>
  </html>
